@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
    background: rgb(110,107,162);
    background: linear-gradient(90deg, rgba(110,107,162,1) 14%, rgba(82,191,168,1) 44%, rgba(0,212,255,1) 100%);
    font-family: 'Fredoka One', cursive;
}

.titulo {
    color: white;
    width: 320px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}
.subtitulo{
    font-weight: bold;
    font-style: italic;
}

#seleccionar-mascota, #seleccionar-ataque {  
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tarjeta-de-mokepon {
    display: inline-block;
    width: 180px;
    background-color: aquamarine;
    box-sizing: border-box;
    border: 1px solid lightcoral;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta-de-mokepon:hover {
    background-color: gray;
    border: 1px solid red;
}
input:checked + label {
    background-color: brown;
    border: 1px solid white;
}
.tarjeta-de-mokepon img {
    width: 90px;
}
input{
    display: none;
}

.div-mascota {
    display: flex;
    gap: 10px;
}
#boton-mascota{
    background-color: #05BFDB;
    color: black;
    height: 25px;
    font-weight: bold;
    border-radius: 15px;
    margin: 20px 0px 0px 0px;
}
#boton-mascota:hover{
    background-color: #917FB3;
    border: 1px solid white;
}
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}
.boton-ataque {
    background-color: burlywood;
    color: black;
    height: 40px;
    width: 120px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    margin: 20px 0px 0px 0px;
}
#mensajes {
    width: 280px;
    height: 100px;
    background-color: #0A4D68;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    background-color: #0A4D68;
    font-size: 16px;
    color: white;
    font-family: 'Fredoka One', cursive;
}
#boton-reiniciar:hover {
    background-color: #917FB3;
    border: 1px solid white;
}
.zona-ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-row: auto;
    text-align: center;
}

@media (max-width:560px) {
    .div-mascota{
        flex-direction: column;
    }
}
@media (max-width:400px) {
    .botones-ataques {
        display: flex;
        flex-direction: column;
    }
}